.basket-page{
	max-width: 100%;
	background: #E5E5E5;
	padding: 10px;
}

.basket-page-center{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.basket-page-center > div{
	background-color: white;
	margin: 5px;
}

.basket-cards-col{
	display: flex;
	flex-direction: column;
}
.basket-item{
	width: 70%; 
	display: flex;
	padding: 20px 20px 65px 20px;
}

.basket-card{
  position: relative;
  display: block;
  flex: 40%;
  max-width: 40%;
  border-radius: 26px;
}
.basket-card-description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30px;
}
.basket-card-count{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.basket-card-count > div{
	width: 40px;
	height: 20px;
	border: 1px solid;
	border-radius: 10px;
	background-color: transparent;
}
.basket-card-count i{
	display: flex;
	justify-content: center;
	cursor: pointer;
	align-items: center;
}
.basket-cancel{
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: #580707;
}
.basket-price{
	font-size: 24px;
	font-weight: bold;
	color: #580707;
}
.basket-pay{
	width: 30%;
	height: auto;
	padding: 20px;
}

.basket-general{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.basket-hr{
	width: 80%;
	margin: 10%;
}

.basket-price-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.basket-price-btn button{
	border: none;
	outline: none;
	background: #C61212;
	width: 200px;
	height: 45px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;	
	border-radius: 30px;
}

.basket-pay-versions{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top:  40px;
}

.basket-pay-versions img{
	width: 70px;
	height: 41px;
	padding: 20px;
}
.payment-methods{
	margin-top: 40px;
}
.payment-methods h1{
	font-size: 16px;
}
.payment-methods p{
	font-size: 13px;
}
@media screen and (max-width: 800px){
	.basket-page-center{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.basket-item{
		max-width: 80%; 
		display: flex;
		padding: 20px 20px 65px 20px;
	}
	.basket-pay{
		width: 80%;
		padding: 20px;
	}
}


@media screen and (max-width: 560px){
	.basket-card{
		position: relative;
		display: block;
		flex: 60%;
		max-width: 60%;
		border-radius: 26px;
	  }
	
	.basket-pay-versions img{
		width: 50px;
		height: 21px;
	}
}

@media screen and (max-width: 425px){
	.basket-page{
		max-width: 80%;
		background: #E5E5E5;
		padding: 10px;
	}
	.basket-pay-versions img{
		width: 50px;
		height: 21px;
	}
}

@media screen and (max-width: 300px){
	.basket-page{
		max-width: 65%;
		background: #E5E5E5;
		padding: 10px;
	}
	.basket-pay-versions img{
		width: 40px;
		height: 11px;
	}
}
