/* .admin-header{
	max-width: 100%;
	background-color: #000000;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.admin-header i{
	color: #FFFFFF;
	margin-left: 25px;
	font-size: 20px;
}

.create-area{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 100px;
}

.create-area-center{
	width: 70%;
	background-color: white;
    box-shadow: 0 33px 40px rgba(169,169,169, 0.3), 0 15px 12px rgba(169,169,169, 0.3), 0 15px 12px rgba(169,169,169, 0.3);
}

.create-area-center> h1{
	text-align: center;
}
.add-form-group{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 35px 40px 35px;
    justify-content: space-between;
}

.add-form-group > input {
    border: 1px solid #666666;
    border-radius: 6px;
    box-sizing: border-box;
    width: 40%;
    padding: 15px 20px;  
    margin-top: 20px;
}
.add-form-group > input:focus {
    outline: none;
    border: 4px solid #1475A2;
}

.add-btn{
    border: none;
    outline: none;
    background: #1475A2;
    border-radius: 4px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}



.assortment-area-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(196, 196, 196, 0.29);
}

.discount-cards-one{
  position: relative;
  flex: 30%;
  max-width: 30%;
  margin: 5px;
  border: 1px solid #C4C4C4;
  border-radius: 26px;
}

.discount-img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.discount-img > img{
	width: 100%;
	border-radius: 10px;
}
.discount-img i {
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
    font-size: 18px;
    color: #C61212;
}
.bicycle-img {
    position: absolute;
    margin-left: -100%;
    margin-top: 20px;
}

.best-input{
    height: 60px;
   color: yellowgreen;
}
.best-label{
    font-size: 25px;
    color: yellowgreen;
    font-weight: bold;
    margin-top: 40px;
    background-color: cornsilk;
}

.info-languages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.info-languages h1{
    background-color: yellowgreen;
    padding: 20px;
}
@media screen and (max-width: 1200px){
	.discount-cards-one {
		position: relative;
		max-width: 45%;
		margin: 5px;
		border: 1px solid #C4C4C4;
		border-radius: 26px;
	}
    
}

@media screen and (max-width: 768px) {
    .assortment-area-cards{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
    
}
@media screen and(max-width: 480px){
	.discount-cards-one{
		max-width: 80%;
		margin: 10px;
	  }
	  .assortment-area-cards > div{
		max-width: 80%;
		margin: 10px;
	}
}
  @media screen and (max-width: 425px){
	.discount-cards-one {
		position: relative;
		max-width: 80%;
		margin: 10px;
		border: 1px solid #C4C4C4;
		border-radius: 26px;
	}
	.assortment-area-cards > div{
		max-width: 80%;
		margin: 10px;
	}
	
  } */



  /* HEADER START  */

  .admin-header-black{
	  padding: 20px;
	  background-color: #000000;
  }


  .archive-trash{
	  display: flex;
	  justify-content: flex-end;
	  max-width: 100%;
	  align-items: flex-end;
	  height: 60px;
  }
  .archive-elements{
	  width: 80%;
	 display: flex;
	 justify-content: space-between;
	  border-bottom: 3px solid #878D92;
  }
.archive-elements h4{
	margin-left: 60px;
}
.archive-icon{
	display: flex;
	width: 20%;
	justify-content: space-around;
}

.archive-icon i{
	font-size: 30px;
	color: #B42F32;
}

.admin-header-search{
	display: flex;
	justify-content: flex-end;
	max-width: 100%;
	align-items: flex-end;
	height: 60px;
}

.admin-search-area{
	width: 33%;
	display: flex;
}

.admin-search-area input{
	border: 2px solid grey;
	width: 400px;
	outline: none;
	padding: 4px;
}
.admin-search-area input:hover{
	border: 2px solid lightblue;
	outline: none;
}
.admin-search-area i{
	position: absolute;
	margin-left: 360px;
	margin-top: 10px;
}
.change-btn{
	margin-right: 100px;
	padding: 7px;
	border: 1px solid #1d1d1d;
	width: 290px;
    border-radius: 21px;
}

.type-area{
	background-color: red;
	width: 20%;
	padding: 30px;
}

.type-area-head{
	display: flex;
	border-bottom: 2px solid #1d1d1d;
	padding: 10px;
}

.type-area-head img{
	width: 30px;
	height: 30px;
}

.type-area-head h1{
	font-size: 18px;
	margin-left: 20px;
	letter-spacing: 3px;
	color: #49494D;
}
/* .nav-bar-admin{
	display: flex;
	justify-content: space-between;
}
.add-icons{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.add-icons i{
	margin-top: 10px;
}
.ul-list{
	list-style-type: none;	
}

.list-item{
	margin-top: 15px;
	margin-left: -30px;
}

.list-item-link-admin{
	text-decoration: none;
	color: #49494D;
	font-size: 13px;
} */