.contact-page{
	max-width: 100%;
}

.contact-main-head{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.contact-main-head h3 {
    font-weight: normal;
    font-size: 44px;
    letter-spacing: 5px;
}
.contact-main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-main > div{
	padding: 20px;
}
.contatc-main-left img{
	width: 390px;
	height: 410px;
}
.contact-main-right{
	display: flex;	
}
.rules-main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.rules-main-left{
	width: 25%;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 300px;
}
.rules-img{
	width: 370px;
	height: 390px;
}
.rules-main-right {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.rules-main-right p{
	font-size: 13px;
}
.rules-main-right h4{
	font-size: 16px;
}
.rules-pay-versions img {
    width: 50px;
    height: 38px;
    margin: 5px;
}
.contatc-main-icons, .contact-main-info{
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.contatc-main-icons i {
    font-size: 26px;
    margin: 10px;
    font-weight: bold;
}
.contact-main-info a{
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	margin: 10px;
}

.about-img {
    width: 560px;
    height: 445px;
	margin-top: 100px;
}
.about-area{
	margin-bottom: 100px;
	/* width: 50%; */
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items:center;
}

/* MODAL */
.delivery-modal-img{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.delivery-text-area{
	padding: 50px;
}
.delivery-text-area p{
	font-size: 13px;
}
.delivery-text-area h1{
	font-size: 16px;
}
.modal-close-btn{
	font-weight: normal;
	font-size: 22px;
	color: #c4c4c4;
	cursor: pointer;
}

/* END MODAL */

/* PAYMENT */
.payment-register{
	border-radius: 30px;
}
.select-payment-form{
	width: 400px;
    border-radius: 30px;
    background-color: #E5E5E5;
	height:auto;
    overflow: hidden;
	padding: 7px;
    border: 1px solid;
}
.select-payment-form img{
	width: 56px;
    margin-left: 15px;
}
.payment-form {
    width: 400px;
    border-radius: 30px;
    background-color: #C4C4C4;
	height:auto;
    overflow: hidden;
	padding: 7px;
	opacity: 0.3;
    border: 1px solid;
}
.payment-select {
    width: 215px;
    border-radius: 30px;
    background-color: #C4C4C4;
    height: 50px;
    overflow: hidden;
    padding: 15px;
    opacity: 0.3;
    border: 1px solid;
}
.address{
	margin-top: 15px;
}
.select-payment-form  span{
	margin-left: 15px;
}
.payment-label > i {
	margin: 10px;
}
.payment-label{
	margin-top: 20px;

}
.payment-input{
	outline: none;
	border: none;
	background-color: #C4C4C4;
	padding: 5px;
	width: 80%;
	border-radius: 30px;
	margin-left: 10px;
	opacity: 0.9;
}

input[type=radio]{
	margin: 10px;
}
.select-payment-form  img{
	width: 30px;
}
.hours-delivery{
	margin-top: 25px;
	display: flex;
}

.save{
	display: flex;
	justify-content: center;
	align-items: center;
}
.save-btn{
	width: 200px;
	padding: 10px;
	border-radius: 30px;
	background: #1D1D1D;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-top: 30px;
}
.save-btn button{
	border: none;
	outline: none;
	background-color: transparent;
	width: 170px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;	
}
/* PAYMENT */
@media screen and (max-width: 768px){
	.contact-main-head h3{
		font-size: 20px;
	}
	.contact-main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contatc-main-left img{
		width: 290px;
		height: 310px;
	}
}
@media screen and (max-width: 375px){
	.contact-main-head h3{
		font-size: 15px;
	}
	.contact-main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contatc-main-left img{
		width: 190px;
		height: 210px;
	}
}