/* FOOTER */

.footer{
	max-width: 100%;
	background-color: #000000;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;	
    /* padding-top: 50px; */
}


.footer-contacts{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #C4C4C4;
	margin: 10px;
}
.call-back{
	margin: 45px;
}
.call-back i{
	font-size: 18px;
}
.call-back h1{
	text-align: right;
	font-size: 18px;
	font-weight: normal;
	margin-left: 20px;
	color: #FFFFFF;
}
.contact-icons{
	display: flex;
	padding: 10px;
}
.link-white{
	color: #FFFFFF;

}
.link-white:hover{
	color: #FFFFFF;

}
.contact-icons > i{
	margin-left: -11px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: normal;
}
.contact-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: -22px;
}
.contact-media >i, .contact-media > img {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #C61212;
    margin-left: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.footer-bottom{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.fotter-line{
	width: 2px;
	height: 200px;
	background-color: #C4C4C4;
}

.end{
	width: 99%;
}
.hr {
    width: 90%;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
    margin-top: 1px;
    margin-left: 5%;
}
.rights {
	max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C4C4C4;
    font-size: 12px;
    margin: 10px -40px 47px 0;
}

@media screen and (max-width: 768px){
		.call-back h1{
		text-align: right;
		font-size: 10px;
		font-weight: normal;
	}
}

@media screen and (max-width: 425px){

	.call-back{
		margin: 0;
	}
	.call-back h1{
		text-align: center;
		font-size: 15px;
		font-weight: normal;
	}
	.contact-icons > i{
		margin-left: 10px;
		font-size: 15px;
	}
}

@media screen and (max-width: 300px){

	
	.call-back h1{
		text-align: center;
		font-size: 10px;
		font-weight: normal;
	}
	.contact-icons > i{
		margin-left: 10px;
		font-size: 10px;
	}
}