*{
	margin: 0;
	padding: 0;
	border: 0;
}
.home-body {
	max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}
.header-black{
	background-color: #000000;
}
.list-item-link:hover{
	color:#FFFFFF;
}

.card-context > div{
	margin-left: 10px;
}
.logo {
    width: 110px;
    height: 40px;
}
.home-body::before {
  max-width: 100%;
  background: url(./components/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.header{
	max-width: 100%;
}
.header-line{
	max-width: 100%;
	padding: 20px;
	border-bottom: 2px solid #C4C4C4;
}

.wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: #FFFFFF;
	font-weight: bold;
}
.header-card{
	margin: 5px;
}

.menu-types{
	background-color: #FFFFFF;
	width: 115px;
	height: auto;
	z-index: 1;
}

.one-menu{
	display: none;
}

/* MENU */
.nav{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.new-menu{
	margin: 0 30px 0 0;
}
.header-menu-list > .list-item> .list-item-link{
	text-decoration: none;
	color: #FFFFFF;
	margin: 0 10px;
	line-height:  70px;
}
.label-menu{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
}
#toggle{
	display: none;
}

/* MENU */
.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    margin-top: 15px;
}

.list-item{
	margin-left: 20px;
	margin-right: 20px;
}
.select-more{
	width: 100px;
	height: auto;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
}
.select-more option{
	color: #000000;
	border: none;
}
.list-item-link{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.list-item-link-black{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.two a:hover{
	color: #FFFFFF;
}
.phone{
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
}
.flag-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.flag-list > li{
    text-decoration: none;
}

.not-active{
    display: none;
}
.simplebar-scrollbar:before{
	background-color: aqua;
}
.simplebar-scrollbar{
	margin-right: 2px;
}
.three {
    width: 400px;
    border-radius: 30px;
    background-color: #C4C4C4;
	height:auto;
    overflow: hidden;
	opacity: 0.9;
}
.three > i{
	color: #FFFFFF;
}
#header-input{
	outline: none;
	border: none;
	background-color: #C4C4C4;
	padding: 5px;
	width: 90%;
	border-radius: 30px;
	margin-left: 10px;
}

.four > a > i{
	font-size: 30px;
	color: #C4C4C4;
}
.five{
	display: flex;
	align-items: center;
	
}
.header-bus{
	background-color: #C4C4C4;
	width: 200px;
	padding: 7px;
	border-radius: 30px 0 0 30px;
	color: #1D1D1D;
	font-size: 18px;
	font-weight: bold;
}
.five img{
	width: 60px;
	height: 48px;
}
.six-content{
  position: absolute;
}
.search-context {
    background-color: #C4C4C4;
    opacity: 1;
    position: absolute;
    max-height: 150px;
    width: 370px;
    overflow-y: auto;
    border-radius: 0 0 30px 30px;
    margin-left: 15px;
	z-index: 1;
}
.search-context p{
	margin-left: 10px;
}
.six button{
	border: none;
	outline: none;
	color: #FFFFFF;
	font-size: 15px;
	margin-top: 20px;
	background-color: transparent;
}
.six i{
	margin-left: 10px;

}
.header-menu-list >  li > select{
	border: none;
	outline: none;
	background-color: transparent;
	color: #FFFFFF;
}

.slogan-area {
    margin-top: 65px;
    margin-left: 200px;
    color: #FFFFFF;
    font-weight: bold;
    width: 60%;
    font-size: 27px;
}
.slogan-area h1{
	font-weight: bold;
	font-size: 57px;
}
.icon-down-area{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	height: 100px;
}

.icon-down{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #C61212;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	color: #FFFFFF;
}
.icon-down a{
	color: #FFFFFF;
	text-decoration: none;
}

.icon-down a:hover{
	color: #FFFFFF;
}


.buy-btn{
	color: #FFFFFF;
	text-decoration: none;
}

.buy-btn:hover{
	color: #FFFFFF;
}

/*  best-offer */
.best-offer{
	margin-top: 200px;
	max-width: 100%;
	height: 700px;
  }

  
.best-title{
	margin-left: 150px;
	letter-spacing:  3px;
	font-weight: normal;
	font-size: 30px;
  }

  .slider {
	width: 1100px;
	height: 600px;
	overflow: hidden;
	margin: 5px;
  }

  .middle{
	position: absolute;
	margin-top: 150px;
	left: 50%;
	height: 500px;
	transform: translate(-50%, -50px);
  }
  .slides{
	width: 400%;
	height: 100%;
	display: flex;
  }
  
  .slide{
	width: 25%;
	transition: all .6s ease;
  }
  
  .slide img{
	width: 100%;
	height: 100%;
  }
  
  input[name='r']{
	position: absolute;
	visibility: hidden;
  }
  
  
#r1:checked ~ .s1 {
	margin-left: 0;
  }
  
  #r2:checked ~ .s1 {
	margin-left: -25%;
  }
  
  #r3:checked ~ .s1 {
	margin-left: -50%;
  }

  .slide-navigate{
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
  }
  .slide-label{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
  
  .bar{
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #ddd;
	opacity: .7;
	border-radius: 10px;
	transition: all .4s ease;
  }
  
  .bar:hover{
	opacity: 1;
	transform: scale(1.1);
  }

  
  .bast-cards{
	overflow: hidden;
	border: 1px solid blue;
	margin: 5px;
  }
  
  .best-slide-cards{
	display: flex;
	justify-content: center;
  }
  
  .best-slide-cards > div{
	border: 1px solid grey;
	margin: 15px;
	border-radius: 6px;
  }
  
  .slide-card-center{
	width: 400px;
	height: 400px;
  }
  
  .slide-card-left, .slide-card-right{
	width: 250px;
	height: 250px;
	align-self: center;
  }
  
  .best-slide-buttons{
	display: flex;
	align-items: center;
  }

  .dropdown {
    /* display: none; */
    position: absolute;
    justify-content: center;
    align-items: center;
    /* background-color: #1475A2; */
    min-width: 226px;
    margin-top: 30px;
    height: auto;
    z-index: 1;
  }
  
/* promotions */
.promotions{
	padding: 20px;
	max-width: 100%;
}

.promotion-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}
.promotion-cards > div{
	margin: 15px;
	border-radius: 6px;
	flex-basis: 40%;	
}

.promotion-cards > div > img{
	width: 100%;
	border-radius: 20px;
}

/* discount */

.discount{
	padding: 20px;
	max-width: 100%;
}

.discount-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  	padding: 0 10px;
}
.discount-home-cards-one{
  position: relative;
  display: block;
 	max-width: 80%;
margin: 15px;
  border: 1px solid #C4C4C4;
  border-radius: 26px;

}

.discount-home-img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.discount-home-img > img{
	width: 100%;
	border-radius: 10px;
}

.discount-home-img i {
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
    font-size: 18px;
    color: #C61212;
}
.bicycle-img {
    position: absolute;
    margin-left: -100%;
    margin-top: 20px;
}

.bicycle-img:hover{
	width: 120%;
	margin-left: -110%;
	cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 1200px){
	.slider {
		width: 750px;
		height: 500px;
		overflow: hidden;
		margin: 5px;
	}
	
	.middle {
		position: absolute;
		margin-top: 177px;
		left: 50%;
		height: 500px;
		transform: translate(-50%, -50px);
	}

}

@media screen and (max-width: 768px){
	
	.one,.two, .five, .nav-bar{
		display: none;
	}
	.one-menu{
		display: flex;
	}
	.nav-bar{
		display: flex; 
		justify-content: flex-start;
	}
	.label-menu{
		display: block;
		cursor: pointer;
	}
	.new-menu{
		text-align: center;
		width: 100%;
		display: none;
	}

	  .menu-types{
		width: 80%;
	}
	
	.header-menu-list> .list-item> .list-item-link{
		display: block;
		border-bottom: 1px solid #C4C4C4;
		color: #000000;
		margin: 0;
	}
	#toggle:checked + .new-menu{
		display: block;
	}
	.header-menu-list{
		display: block;
		flex-direction: column;
		background-color: white;
		padding: 0;
		position: absolute;
		z-index: 2;
	}
	.list-item{
		margin: 10px;
	}
	.list-item-link{
		color: #000000;
	}
	.header-menu-list > li > select {
		color: #000000;
		width: auto;
	}
	.slogan-area {
		margin-top: 249px;
		margin-left: 45px;
		color: #FFFFFF;
		font-weight: bold;
		width: 90%;
		font-size: 20px;
	}
	.slogan-area h1{
		font-size: 40px;
	}

	.best-offer{
		
		height: 560px;
	  }

	.best-title{
		margin-left: 50px;
		letter-spacing:  3px;
		font-weight: normal;
		font-size: 25px;
	  }
	
	  .slider {
		width: 1100px;
		height: 600px;
		overflow: hidden;
		margin: 5px;
	  }
	.slider {
		width: 600px;
		height: 600px;
		overflow: hidden;
		margin: 5px;
	}
	.middle {
		position: absolute;
		margin-top: 100px;
		left: 50%;
		height: 340px;
		transform: translate(-50%, -50px);
	}
	.slide-card-center {
		width: 380px;
		height: 230px;
	}
	.slide-card-left, .slide-card-right {
		width: 230px;
		height: 230px;
		align-self: center;
	}

	.promotion-cards{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	
	}
	.promotion-cards > div{
		margin: 15px;
		border-radius: 6px;
		flex-basis: 30%;	
	}
	.discount-cards{
		padding: 0;
	}

	.discount-home-cards-one{
		max-width: 60%;
		margin: 15px;
	}
	.list-item-link:hover{
		color: #000000;
	}

}

@media screen and (max-width: 610px){

	.slider {
		width: 600px;
		height: 600px;
		overflow: hidden;
		margin: 5px;
	}

	.slogan-area h1{
		font-size: 30px;
	}

	.middle {
		position: absolute;
		margin-top: 100px;
		left: 50%;
		height: 340px;
		transform: translate(-50%, -50px);
	}
	.best-title{
		margin-left: 0;
	}
	.slide-card-center {
		width: 380px;
		height: 230px;
	}
	.slide-card-left, .slide-card-right {
		width: 230px;
		height: 230px;
		align-self: center;
	}

	.discount-home-cards-one{
		max-width: 65%;
		margin: 15px;
	  }

}

@media screen and (max-width: 480px){
	.slogan-area {
		margin-top: 200px;
		margin-left: 0;
		color: #FFFFFF;
		font-weight: bold;
		width: 100%;
		font-size: 13px;
	}
	.one-line h1{
		font-size: 13px;
	}
	.discount-home-cards-one{
		max-width: 80%;
		margin: 10px;
	  }
}

@media screen and (max-width: 375px){
	.slogan-area {
		margin-top: 100px;
		margin-left: 0;
		color: #FFFFFF;
		font-weight: bold;
		width: 100%;
		font-size: 7px;
	}
}